{% extends "admin/layout.njk" %}

{%block header%}

<div class="headerContainer">
    <h2>Criando Chef</h2>
</div>
    
{%endblock%}

{%block content%}

<div class="container">
    <form method="POST" action="/admin/chefs" enctype="multipart/form-data">

        <div class="individualForm">
            <h4>Nome</h4>
            <input 
                type="text"
                name="name"
                placeholder="  Nome do Chef">
        </div>

        <div class="individualForm">
            <h4>Imagem da Receita</h4>
                <div>
                    <div id="photos-upload">
                        <input 
                            id="photos-input"
                            type="file"
                            name="photos"
                            multiple
                            accept="image/*"
                            onchange="PhotosUpload.handleChefFileInput(event)"
                            >
                        <p>Selecione até 1 Foto!</p>
                    </div>
                    <div id="photos-preview">
                        
                    </div>
                </div>
        </div>

        <button type="submit" onclick="Validate.allFields(event)">Salvar Chef</button>

    </form>
</div>

    {% block script %}
    <script src="../../../../../scripts/mainScript.js"></script>
    {% endblock %}
    
{% endblock %}