<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>

    {% include 'parts/styles.njk' %}

</head>

<body>
        <header>
            <img src="/assets/logo.png" alt="LogoMarca">
            <div class="links">
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
                <a href="/users/login" class="admin">Entrar</a>
            </div>
            <form action='/recipes' method='GET'>
                <input type="text" placeholder="Buscar uma Receita" name='filter'>
                <button type='submit'>Buscar</button>
            </form>

        </header>
    
        {% block content %}{% endblock %}

    {% block script %}{% endblock %}

</body>

<footer class="copyright">
    <h5>Todos os direitos reservados, Receitas Foodfy.</h5>
</footer>


</html>


 